# Configuration file

"nether fortress chest additions" {
    B:"Armor, Golden Boots"=true
    B:"Armor, Golden Helmet"=true
    B:"Armor, Golden Leggings"=true
    B:"Block, Crying Obsidian"=false
    B:"Block, Obsidian"=true
    B:"Crystal Shard, Blue"=false
    B:"Crystal Shard, Green"=false
    B:"Crystal Shard, Magenta"=false
    B:"Crystal Shard, White"=false
    B:"Crystal Shard, Yellow"=false
    B:"Flint and Steel, Foxfire"=false
    B:"Flint and Steel, Shadowfire"=false
    B:"Flint and Steel, Soulfire"=false
    B:"Item, Glowstone Dust"=false
    B:"Item, Golden Apple"=false
    B:"Item, Golden Nugget"=true
    B:"Item, Quartz"=false
    B:"Item, Void Quartz"=false
    B:"Music Disc, Chrysopoeia"=false
    B:"Music Disc, Pigstep"=false
    B:"Music Disc, Rubedo"=false
    B:"Music Disc, So Below"=false
    B:"Tool, Golden Axe"=true
    B:"Tool, Golden Hoe"=false
    B:"Tool, Golden Pickaxe"=false
    B:"Tool, Golden Shovel"=false
    B:"Wart, Crimson"=false
    B:"Wart, Soggy"=false
    B:"Wart, Warped"=false
}


"nether generation" {
    B:"Generate Ruined Portals in the Nether"=true
}


